node_modules/*
/android/
ios/*
yarn.lock
.DS_Store
demo.txt
ios/VanBanDOJI.xcodeproj/project.pbxproj
yarn.lock
yarn-error.log
ReactotronConfig.js
file.json
android/app/src/main/assets/fonts/Octicons.ttf
android/app/src/main/assets/fonts/Ionicons.ttf
android/app/src/main/assets/fonts/EvilIcons.ttf
android/.gradle/4.4/fileHashes/fileHashes.lock
android/.gradle/4.4/fileHashes/fileHashes.bin
android-debug.bundle.meta
android-debug.bundle.map
android-debug.bundle
.vscode/settings.json
yarn.lock
yarn-error.log
ReactotronConfig.js
android/app/src/main/assets/fonts/Octicons.ttf
android/app/src/main/assets/fonts/Ionicons.ttf
android/app/src/main/assets/fonts/EvilIcons.ttf
android/.gradle/4.4/fileHashes/fileHashes.lock
android/.gradle/4.4/fileHashes/fileHashes.bin
.vscode/settings.json
